/* body {
  background-image: url("https://wallpaperaccess.com/full/5930405.jpg");
} */

@font-face {
  font-family: "parry-hotter";
  src: url(parry-hotter.regular.ttf);
}

@font-face {
  font-family: "lumoslatino-font";
  src: url(Lumoslatino-XA8K.ttf);
}

#sorted-students {
  display: flex;
  flex-wrap: wrap;
}

#dark-side {
  display: flex;
  flex-wrap: wrap;
}

#everyone {
  display: flex;
}

.sorted {
  display: flex;
  flex: 1;
  align-content: flex-start;
}

.card {
  flex: 0 1 30%;
  padding: 20px;
  margin: 30px;
  height: fit-content;
}

img {
  height: 250px;
}

#form-appear {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h3 {
  display: flex;
  justify-content: center;
  margin: 30px;
}

h1 {
  font-family: "parry-hotter";
  font-size: 100px;
  margin-top: 100px;
}

h3 {
  font-family: "lumoslatino-font";
  font-size: 40px;
}
#house-buttons {
  display: flex;
  justify-content: center;
  margin: 50px;
  font-family: "lumoslatino-font";
}

h5 {
  height: 25px;
  font-weight: bold;
}

p {
  padding: 5px;
}
#house-form {
  display: flex;
  justify-content: center;
}

#sort {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: lightgrey;
  margin-bottom: 30px;
  font-family: "lumoslatino-font";
}

#sorted-students, #dark-side {
  font-family: "lumoslatino-font";
  font-size: small;
  display: flex;
  justify-content: center;
}

.card-title {
  font-size: 14px;
}

.card-img {
  height: 500px;
}
.btn {
  margin: 20px;
  background-color: lightgray;
  width: 150px;
}

#gryffindor:hover {
  background-color: maroon;
  color: white;
}

#hufflepuff:hover {
  background-color: goldenrod;
  color: white;
}

#ravenclaw:hover {
  background-color: royalblue;
  color: white;
}

#slytherin:hover {
  background-color: darkgreen;
  color: white;
}

#all:hover {
  background-color: darkgrey;
  color: white;
}

#sort:hover {
  background-color: darkred;
  color: white;
}

.btn-danger {
  width: 100px;
  font-size: small;
}

#each-side {
  display: flex;
  justify-content: space-around;
}

.army {
  font-size: 30px;;
}
