/* body {
  background-image: url("https://wallpaperaccess.com/full/5930405.jpg");
} */

#sorted-students {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 0 1 30%;
  padding: 20px;
  margin: 30px;
}

img {
  height: 650px;
}

#form-appear {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h3 {
  display: flex;
  justify-content: center;
  margin: 30px;
}

#house-buttons {
  display: flex;
  justify-content: center;
  background-color: lightgray;
}

#house-form {
  display: flex;
  justify-content: center;
}

#sort {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
